{
  "telegram": {
    "botToken": "{{ telegram_bot_token }}"
  },
  "bot": {
    "password": "{{ gramarr_password }}",
    "adminPassword": "{{ gramarr_admin_password }}"
  },
  "radarr": {
    "hostname": "radarr",
    "apiKey": "{{ radarr_api_key }}",
    "port": 7878,
    "urlBase": "{{ radarr_url_base }}",
    "ssl": false,
    "username": "",
    "password": "",
    "maxResults": 6
  },
  "sonarr": {
    "hostname": "sonarr",
    "apiKey": "{{ sonarr_api_key }}",
    "port": 8989,
    "urlBase": "{{ sonarr_url_base}}",
    "ssl": false,
    "username": "",
    "password": "",
    "maxResults": 6
  }
}
