---
extends: default

ignore: |
  .venv/
  inventories/0-test/.vagrant/

rules:
  braces:
    level: error
    max-spaces-inside: 1
  brackets:
    level: error
    max-spaces-inside: 1
  colons:
    level: error
  commas:
    level: error
  comments:
    level: error
  comments-indentation:
    level: error
  document-start:
    level: error
    present: true
    ignore: |
      vault.yml
  line-length: disable
  trailing-spaces:
    level: error
  truthy:
    level: error
    allowed-values: ['yes', 'no']
    ignore: |
      bitbucket-pipelines.yml
      .yamllint
      Vagrantfile.servers.yml
      Vagrantfile.yml
      .pre-commit-config.yaml
  quoted-strings:
    level: error
    quote-type: single
    required: true
    ignore: |
      bitbucket-pipelines.yml
      .yamllint
      Vagrantfile.servers.yml
      Vagrantfile.yml
      .pre-commit-config.yaml
  key-duplicates:
    level: error
  new-line-at-end-of-file:
    level: error
  new-lines:
    level: error
  empty-lines:
    max: 2
    max-start: 1
    level: error
