user www-data;
worker_processes  2;

error_log  /var/log/nginx/error.log;
pid        /run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
    sendfile        on;
    keepalive_timeout  65;

    gzip  on;
    gzip_http_version 1.0;
    gzip_min_length 1024;
    gzip_proxied any;
    gzip_buffers 16 8k;
    gzip_types text/plain text/css application/x-javascript text/xml
               application/xml application/xml+rss text/javascript;
    gzip_vary on;

    client_max_body_size 4G;

    server_tokens     off;

    proxy_connect_timeout 90;
    proxy_send_timeout 90;
    proxy_read_timeout 90;
    proxy_buffer_size 4k;
    proxy_buffers 4 32k;
    proxy_busy_buffers_size 64k;
    proxy_temp_file_write_size 64k;

    server {

        listen       80;
        root /var/www/html;

        index index.html index.htm index.nginx-debian.html index.php;

        satisfy any;
        allow 192.168.1.41/27;
        allow 172.17.0.1/16; # Container support
        allow 127.0.0.1/32;
        deny all;
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/htpasswd;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;

        location /sabnzbd/ {
            proxy_pass http://127.0.0.1:8010/;
            proxy_redirect default;
        }

        location /tv/ {
            proxy_pass http://127.0.0.1:8989/tv/;
            proxy_redirect default;
        }

        location /movies/ {
            proxy_pass http://127.0.0.1:8925/movies/;
            proxy_redirect default;
        }

        location /music/ {
            proxy_pass http://127.0.0.1:8181/music/;
            proxy_redirect default;
        }

        location /plexpy/ {
            proxy_pass http://127.0.0.1:8283/plexpy/;
            proxy_redirect default;
        }

        location /hydra/ {
            proxy_pass http://127.0.0.1:5075/hydra/;
            proxy_redirect default;
        }

        location /transmission/ {
            proxy_pass_header X-Transmission-Session-Id;
            proxy_pass http://127.0.0.1:9091/transmission/;
            proxy_redirect default;
        }

        location /netdata/ {
            proxy_pass http://127.0.0.1:19999/;
            proxy_redirect default;
        }

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/run/php/php7.0-fpm.sock;
        }

        location ~ /\.ht {
            deny all;
        }

        error_page  404              /404.html;
        location = /404.html {
            root   /usr/share/nginx/html;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
    include /etc/nginx/conf.d/*.conf;
}
