<?php

## Check http://www.observium.org/docs/config_options/ for documentation of possible settings

// Database config ---  This MUST be configured
$config['db_extension'] = 'mysqli';
$config['db_host']      = 'localhost';
$config['db_user']      = '{{ mysql_db_user }}';
$config['db_pass']      = '{{ mysql_db_pass }}';
$config['db_name']      = '{{ db_name }}';

// Base directory
$config['install_dir'] = "{{ observium_dir }}";

$config['temp_dir']      = "/tmp";
$config['install_dir']   = "{{ observium_dir }}";
$config['html_dir']      = $config['install_dir'] . "/html";
$config['log_dir']       = "{{ logs_dir }}";
$config['rrd_dir']       = "{{ rrd_dir }}";

// Default community list to use when adding/discovering
$config['snmp']['community'] = array("public");

// Authentication Model
$config['auth_mechanism'] = "mysql";    // default, other options: ldap, http-auth, please see documentation for config help

// Enable alerter
// $config['poller-wrapper']['alerter'] = TRUE;

//$config['web_show_disabled'] = FALSE;    // Show or not disabled devices on major pages.

// Set up a default alerter (email to a single address)
//$config['email']['default']        = "user@your-domain";
//$config['email']['from']           = "Observium <observium@your-domain>";
//$config['email']['default_only']   = TRUE;

// End config.php
