---
- name: create samba access
  group:
    name: smbaccess
    state: present
    gid: 1001

- name: create users
  user:
    name: "{{ item.name }}"
    uid: "{{ item.uid }}"
    createhome: no
    system: "{{ item.system }}"
    group: smbaccess
  with_items:
    - "{{ users }}"
